<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:name=".ChannelClass"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/calculator"
            android:label="@string/app_name"
            android:roundIcon="@drawable/calculator"
            android:supportsRtl="true"
            android:theme="@style/Theme.All_Android"
            tools:targetApi="31">
        <activity
                android:name=".Button_Customization"
                android:exported="false"/>
        <activity
                android:name=".ToolBarCustomization"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <!-- <action android:name="android.intent.action.SEND" /> -->
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
                <!-- <data android:mimeType="image/*" /> -->

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".RecyclerViewExample"
                android:exported="true">
        </activity>
        <activity
                android:name=".CardViewEx"
                android:exported="true">
        </activity>
        <activity
                android:name=".SpinnerExample"
                android:exported="true">
        </activity>
        <activity
                android:name=".ListViewExample"
                android:exported="true">
        </activity>
        <activity
                android:name=".BMICalc"
                android:exported="true">
        </activity>
        <activity
                android:name=".AlertDialogBox"
                android:exported="true">
        </activity>
        <activity
                android:name=".Fonts"
                android:exported="true">
        </activity>
        <activity
                android:name=".Services"
                android:exported="true">
        </activity>
        <activity
                android:name=".BroadCastReveiver"
                android:exported="true">
        </activity>
        <activity
                android:name=".ImpliciteIntents"
                android:exported="true"/>
        <activity
                android:name=".IntentLayout_two"
                android:exported="false"/>
        <activity
                android:name=".Intents"
                android:exported="true"/>
        <activity
                android:name=".CustomToolBar"
                android:exported="true"/>
        <activity
                android:name=".ConstrainLayouts"
                android:exported="true"/>
        <activity
                android:name=".Toasty"
                android:exported="true"/>
        <activity
                android:name=".loginscreenbasic"
                android:exported="true"/>
        <activity
                android:name=".onClickListners"
                android:exported="true"/>
        <activity
                android:name=".SplashScreen"
                android:exported="true"/>
        <activity
                android:name=".MainActivity"
                android:exported="true"/>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>